## Settings file was created by plugin MelanieMelicious - Crafting Progression Core v1.0.5
## Plugin GUID: MelanieMelicious.CraftCore

[Custom Ingredients]

## This is log.
# Setting type: String
# Default value: 
Craft as Log = 

## This is plank.
# Setting type: String
# Default value: 
Craft as Plank = 

## This is metal sheet.
# Setting type: String
# Default value: 
Craft as Metal Sheet = 

[Custom Tools]

## This is hammer.
# Setting type: String
# Default value: 
Works as Hammer = 

## This is saw.
# Setting type: String
# Default value: 
Works as Saw = 

## This item can chop down trees. (Not 100% drop rate!)
# Setting type: String
# Default value: 
Works as Axe = 

[Hazard Spawn]

## Modify if rake traps spawn.
# Setting type: Boolean
# Default value: true
Rake Traps Enabled = true

## Modify the damage for rake traps.
# Setting type: Int32
# Default value: 40
Rake Trap Damage = 40

## Modify the weights for rake traps spawning on any moon.
# Setting type: Int32
# Default value: 8
Rake Trap Global = 1

## Modify the weights for rake traps spawning on moons with certain tags.
# Setting type: String
# Default value: canyon:4,marsh:10
Rake Trap By Tag = 

## Modify the weights for rake traps spawning on moons by certain keys.
# Setting type: String
# Default value: Experimentation:5
Rake Trap By Key = 

[Item Value]

## Directly change the first random range value (usually minimum) for how much value is added when crafting.
# Setting type: Single
# Default value: 10
Crafting Value Minimum = 10

## Change the multiplier applied to the second random range value (usually maximum) applied to a copy of total craft value.
# Setting type: Single
# Default value: 0.25
Crafting Value Maximum MULTIPLIER = 0.25

## Change the minimum value added when refining.
# Setting type: Int32
# Default value: 0
Refine Value Minimum = 0

## Change the maximum value added when refining.
# Setting type: Int32
# Default value: 20
Refine Value Maximum = 20

[Prices]

## Modify the price for the workbench.
# Setting type: Int32
# Default value: 120
Workbench = 120

[Scrap Spawn]

## Modify the weights for hammers to spawn as scrap.
# Setting type: Int32
# Default value: 40
Hammer Global Spawns = 40

## Modify the weights for saw to spawn as scrap.
# Setting type: Int32
# Default value: 30
Saw Global Spawns = 30

## Modify the weights for axe to spawn as scrap.
# Setting type: Int32
# Default value: 30
Axe Global Spawns = 30

[Store Setup]

## Modify the price for hammers in the store. Set -1 to not register into the store.
# Setting type: Int32
# Default value: -1
Hammer Price = -1

## Modify the price for saws in the store. Set -1 to not register into the store.
# Setting type: Int32
# Default value: -1
Saw Price = -1

## Modify the price for axes in the store. Set -1 to not register into the store.
# Setting type: Int32
# Default value: -1
Axe Price = -1

